
body{
    display: block;
    background-color: rgb(22, 21, 24);
    color: white;
}



table{
    border: 0px;
    border-spacing: 0px;
}

td{
    border: 0px;
    padding: 5px;
    min-width: 200px;
    vertical-align: bottom;
}

thead tr{
    background-color: rgb(22, 21, 24);
}

thead{
    position: sticky; 
    top: 0; 
    z-index: 1;
}


tbody tr:nth-child(odd){
    background-color: rgb(38, 37, 41);
}
tbody tr:nth-child(even){
    background-color: rgb(47, 46, 51);
}

.filter-container{
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
}

.meta-navbar{
    display: flex;
    text-align: center;
}

.header-text{
    margin-left: 30px;
}

